* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;

  background-color: #3f3f3f;
  font-size: 1.6rem;
}
